.app {
  display: flex;
  flex-direction: column;
  background-color: #f3f3f3;
  min-height: 100vh;
  max-width: 1440px;
  margin: 0 auto;
  padding: 0 40px;
  box-sizing: border-box;
}

@media screen and (max-width: 450px) {
  .app {
    max-width: 375px;
    padding: 18px 16px;
  }
}
