.card {
  width: 325px;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}


.card__caption {
  font-size: 16px;
  font-weight: 700;
  line-height: 20px;
  top: 15px;
  margin: 0px 10px 0px  0px;
  background-color: #ffffff;
  padding: 2px 12px;
  border-radius: 4px;
  font-family: "CabinetGrotesk";
  max-width: 200px;
}

.card__like-button {
  width: 21px;
  height: 19px;
  background: transparent url("../assets/heart_icon.png") center no-repeat;
  background-size: 21px 18px;
  border: none;
  margin: 0;
  transition: 0.3s;
}

.card__like-button_active{
  background: url("../assets/like_button_filled.png") center no-repeat;
  background-size: 21px 18px;
  width: 21px;
  height: 19px;
  border: none;
  margin: 0;
}

.card__container {
  position: absolute;
  top: 20px;
  display: flex;
  flex-direction: row;
  align-items: center;
}

.card__image {
  display: block;
  width: 100%;
  border-radius: 19px;
  border: 1px solid black;
  height: 327px;
}

@media screen and (max-width: 450px) {
  .card {
    width: 164px;
  }
}
