@font-face {
  font-family: "CabinetGrotesk";
  font-weight: 500;
  font-display: swap;
  font-style: normal;
  src: url("./assets/CabinetGrotesk-Medium.woff2") format("woff2"),
    url("./assets/CabinetGrotesk-Medium.woff") format("woff"),
    url("./assets/CabinetGrotesk-Medium.ttf") format("truetype");
}

@font-face {
  font-family: "CabinetGrotesk";
  font-weight: 700;
  font-display: swap;
  font-style: normal;
  src: url("./assets/CabinetGrotesk-Bold.woff2") format("woff2"),
    url("./assets/CabinetGrotesk-Bold.woff") format("woff"),
    url("./assets/CabinetGrotesk-Bold.ttf") format("truetype");
}

@font-face {
  font-family: "CabinetGrotesk";
  font-weight: 900;
  font-display: swap;
  font-style: normal;
  src: url("./assets/CabinetGrotesk-Black.woff2") format("woff2"),
    url("./assets/CabinetGrotesk-Black.woff") format("woff"),
    url("./assets/CabinetGrotesk-Black.ttf") format("truetype");
}

@import url(./vendor/normalize.css);
@import "./blocks/App.css";
